<div id="herosListSection">
  <ul class="heroes">
    <li *ngFor="let hero of listOfHeroes"
        (click)= "selectHero(hero)"
        routerLink="/hero/{{ hero.id }}"
        [class.selected]="hero.id === (selectedHero == undefined? -1 : selectedHero.id)">
      <span class="badge">
        {{ hero.id }}
      </span>
      {{ hero.name }}
    </li>
  </ul>
</div>

<!-- <div id="selectedHeroDetailSection">
  <app-heroes [hero]="(selectedHero === undefined? listOfHeroes[0] : selectedHero)"
    [hidden]="(selectedHero == undefined) || (selectedHero.id == -1)">
  </app-heroes>
</div> -->
