<div id="selectedHeroDetailSection"
  *ngIf="hero.id > 0">
  <h2>
    {{ hero.name | uppercase }} DETAILS
  </h2>

  <div>
    <span>
      <label>id: </label> {{ hero.id }}
    </span>
    <br/>
    <span>
      <label>name: </label>
      <input type="text"
        name="heroName"
        placeholder="Enter hero's name"
        [(ngModel)] = "hero.name"/>
    </span>
  </div>

  <button class="btn-default"
      (click)="goBack()">
    Go back
  </button>
  <button class="btn-default btn-separator-left"
      (click)="updateHero()">
    Save Changes
  </button>
</div>

<div id="error"
  *ngIf="hero.id < 0">
  <h1>Error Receiving data!</h1>
</div>