/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

h1, h2, h3, h4, h5, h6, body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #369;
    font-size: 250%;
    font-weight: 400;
}

h2, h3 {
    color: #947CB0;
    font-weight: 300;
}

.title h2{
    padding: 20px 50px;
    font-weight: 400;
}

body {
    margin: 2em;
    font-weight: 200;
    background: #f5f5f5 url('./assets/images/ninja-bot.png') no-repeat;
}

body, input[type="text"], button {
    color: #947CB0;
}

input[type="text"] {
    padding: 7px 10px;
    border: 0.5px solid #656566;
    border-radius: 3px;
    background-color: #EEE;
    color: #656566;
}

.btn-default {
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    margin: 30px auto;
    border-radius: 50px;
    border: none;
    background-color: rgb(231, 228, 228);
    color: #947CB0;
}

.btn-default:hover, .btn-default:active {
    background-color: #DDDBDB;
    color:#656566;
}

button:disabled, button:disabled.btn-default:hover{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.btn-separator-left {
    margin-left: 10px;
}

.btn-separator-right {
    margin-right: 10px;
}